asgiref==3.2.3
boto3==1.24.70
botocore==1.27.70
dj-database-url==0.5.0
Django==3.0.3
django-cors-headers==3.2.0
django-heroku==0.3.1
django-storages==1.8
djangorestframework==3.10.3
djangorestframework-simplejwt==4.5.0
docutils==0.15.2
et-xmlfile==1.1.0
gunicorn==20.0.4
jmespath==0.9.4
numpy==1.24.3
openpyxl==3.0.9
#pandas==0.25.3

psycopg2==2.8.4

# You may encounter an exception on compilation, of psycopg2,
# indicating that you are missing some prerequisite to build the psycopg2 package from source (specifically, the Python development headers).

# You have two options to fix this issue:

# Install the binary package

# As suggested in the error message, you can install the psycopg2-binary package instead of psycopg2 by running the following command:
# >> pip install psycopg2-binary
# This will install a pre-built version of psycopg2 that does not require compilation.

# Install the required packages

# Alternatively, you can install the packages required to build psycopg2 from source.
# On Ubuntu or Debian-based systems, you can install the required packages by running the following command:
# >> sudo apt-get install libpq-dev python3-dev
# On other systems, you will need to install the equivalent packages using your package manager.
# Once you have installed these packages, you should be able to install psycopg2 by running the command:
# >> pip install psycopg2.

PyJWT==1.7.1
python-dateutil==2.8.1
pytz==2019.3
s3transfer==0.6.0
sentry-sdk==1.9.8
six==1.13.0
sqlparse==0.3.0
urllib3==1.26.11
whitenoise==5.0.1
